SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_APP_URL=http://localhost:8080/customsready
SCOPES=read_products,read_orders
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/customsready_lite
REDIS_URL=redis://redis:6379
PORT=3100
LOG_LEVEL=info
PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true
PUPPETEER_EXECUTABLE_PATH=/usr/bin/chromium
